body {
    margin: 0;
    font-family: sans-serif;
    background: #f4f4f4
}

.img-circular{
    margin-top: 20px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    background-image: url('profileimage.png');
    background-size: cover; 
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

nav {
    height: 80px;
    width: 98vw;
    display: inline-flex;
    justify-content: space-between; 
}
nav ul {
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    display: flex;
    align-items: center;   
}

nav ul li {
    margin-right: 20px;
    font-size: 1.2rem;
}

.container {
    height: 88vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.container h1,h2{
    margin: 0;
    padding: 0;
}

.container hr {
    height: 1px;
    width: 10vw;
    color: black;
    background-color: black;
}

ion-icon {
    font-size: 40px;
    margin: 25px 10px;
  }

a {
    text-decoration: none;
    color: black;
}


