body {
    margin: 0;
    font-family: 'Share Tech Mono', monospace, sans-serif;
    background: #f4f4f4;
}

nav .logo{
    margin-top: 20px;
    margin-left: 25px;
}
.img-circular{
    width: 50px;
    height: 50px;
    background-image: url('profileimage.png');
    background-size: cover; 
    display: block;
    border-top-left-radius: 100px;
    -webkit-border-top-left-radius: 100px;
    -moz-border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    -webkit-border-top-right-radius: 100px;
    -moz-border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-bottom-left-radius: 100px;
}

nav {
    height: 80px;
    width: 98vw;
    display: inline-flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    display: flex;
    align-items: center;   
}

nav ul li {
    margin-right: 35px;
    font-size: 1.3rem;
}

.container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.container h1{
    margin: 0;
    padding: 0;
}

.container h4{
    margin: 0 20vw;
    padding: 0;
}

.container hr {
    height: 1px;
    width: 10vw;
    color: black;
    background-color: black;
    border: none;
}

ion-icon {
    font-size: 40px;
    margin: 25px 10px;
  }

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.hashtag {
    margin: 10px 10vw;
}

footer {
    text-align: center;
    justify-content: center;
    font-size: 18px;
}


